<% 
var style = ""
if(locals.infocard_style) { 
    style = infocard_style
} 
var main_text = ""
if(locals.card_main_text){
    main_text = card_main_text
}
var dropdown_text = ""
if(locals.card_dropdown_text){
    dropdown_text = card_dropdown_text
}
%>

<div class="infocard" style="<%- style %>">

    <div class="infocard-main-body-conatiner">
        <div class="infocard-main-text"><%= main_text %></div>

        <div class="infocard-main-body">
            <% if(locals.partial_main_body) { %>
            <%- include('./' + partial_main_body, {
                options: partial_main_body_options
            }) -%>
            <% } %>
        </div>
    </div>

    <div class="infocard-button-container">
        <% if(locals.partial_buttons_left) { %>
        <%- include('./' + partial_buttons_left, {
            options: partial_buttons_left_options
        }) -%>
        <% } %>

        <button class="infocard-button-plus" onclick="toggleDropdown(this)">+</button>
        <button class="infocard-button-minus hidden" onclick="toggleDropdown(this)">-</button>

        <% if(locals.partial_buttons_right) { %>
        <%- include('./' + partial_buttons_right, {
            options: partial_buttons_right_options
        }) -%>
        <% } %>
    </div>

    <div class="infocard-dropdown hidden">
        <div class="infocard-dropdown-text"><%- dropdown_text %></div>
        <div class="infocard-dropdown-body">
            <% if(locals.partial_dropdown_body) { %>
            <%- include('./' + partial_dropdown_body, {
                options: partial_dropdown_body_options
            }) -%>
            <% } %>
        </div>
    </div>

</div>
